/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Global */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
html,
body {
  /* --max-width: 1170px; */
  --darkestGreen: #203624;
  --darkGreen: #486858;
  --midGreen: #294b3b;
  --lightGreen: #648977;
  --lightTaupe: #dbc8b9;
  --lightestTaupe: #e6d9cf;
  --text: #808080;
  margin: 0;
  /* overflow: hidden; */
  background-repeat: repeat;
  font-family: muli !important;
  max-width: 100%;
  overflow-x: hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h2 {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  /* background-image: url(...); Add custom arrow */
}

select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url(https://use.typekit.net/aav7lhy.css);
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: bold;
}

/* Headings */
.mainPageHeader {
  color: var(--darkGreen);
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.swapSubHeader {
  color: var(--lightTaupe);
  font-size: 2rem;
  padding: 0px;
  margin-right: 20px;
}

.subHeading {
  color: var(--darkGreen);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subHeadingSmall {
  color: var(--darkGreen);
  font-size: 1.2rem;
  font-weight: bold;
}

.subHeading2 {
  color: var(--lightTaupe);
  font-size: 1.2rem;
  font-weight: bold;
}

.mainText {
  color: var(--text);
  font-size: 1rem;
}

/* Grid */
.gridLayout {
  width: 100%;
  margin: 0px;
  height: 100%;
  align-content: center;
  align-items: alignItems;
}

.errorText {
  color: #f88379;
}

.errorTextBold {
  color: #f88379;
  font-weight: bold;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.warningText {
  color: rgb(218, 170, 13);
}

/* Input Placeholders */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8080808e !important;
  opacity: 10; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text) !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Routes / Pages */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/*  */
/* /Swap */
/*  */

.swapPageGeneral {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  background-size: auto;
  background-image: url("https://raw.githubusercontent.com/juliazieniewicz/backgroundsvg/main/Draft6.jpg");
  background-size: 800px;
  background-position: 0px 400px;
}

/*  */
/* /General */
/*  */

.generalPage {
  padding: 20px;
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  background-size: auto;
}

/*  */
/* /Add */
/*  */
.addHeader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 25px;
  padding-right: 10px;
  /* box-shadow: 1px 1px 15px 8px #e4e3e394; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addHeaderButtons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

  height: fit-content;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Components */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

/*  */
/* /Navbar -----------------------------------------------------------------------------------*/
/*  */

/* BASIC NAVBAR STYLING  */
.MainLogo {
  height: 60px;
  width: auto;
  padding-left: 20px;
}

.Navbar {
  background-color: white;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
}

/* NAVLINKS STYLING */
.NavLinks {
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.NavLinks:hover {
  color: var(--lightTaupe) !important;
}

/* DROPDOWN STYLING */
.DropdownNav:hover {
  color: var(--lightTaupe) !important;
}

.DropdownNav a:hover {
  color: var(--lightTaupe) !important;
}

.DropdownNav a:optional {
  color: var(--lightTaupe) !important;
}

.dropdown-menu {
  background-color: white !important;
  border-radius: 5% !important;
  border: 2px solid white !important;
}

.DropdownNav {
  vertical-align: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}

.dropdownItemsNavbar {
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Come back to this */
.dropdown-item {
  color: var(--darkGreen);
}

/* DEVICE VIEWS STYLING */

.navbar .navbar-collapse {
  text-align: center;
}

@media screen and (min-width: 991px) {
  .Navbar {
    height: 10vh;
  }

  .MainLogo {
    height: 60px;
    width: auto;
    margin-right: 50px;
  }
}

@media screen and (max-width: 990px) {
  .dropdownItemsNavbar {
    text-align: center !important;
  }
  .CTAButton {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white !important;
    background-color: var(--lightTaupe) !important;
  }
  .NavLinks {
    font-weight: bold !important;
    margin-top: 5%;
  }
  .DropdownNav a {
    margin-top: 5%;
  }
}

/* Hover Underlines */

.NavLinks {
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}
.NavLinks::after {
  background-color: var(--lightTaupe);
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}
.NavLinks:hover::after {
  width: 100%;
}

/*  */
/* /Body Components -----------------------------------------------------------------------------------*/
/*  */

.spinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 50px;
  height: 50px;
  color: var(--lightTaupe);
  align-items: center;
  text-align: center;
  /* transform: translate(50%,50%); */
}

/*  */
/* /SwapWindow */
/*  */

.swapBox {
  height: 40vh;
  /* min-width: 60%; */
  max-width: 600px;
  border-radius: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  /* box-shadow: 1px 1px 15px 8px #e4e3e394; */
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/* Standard Dropdown */
/*  */

/*  */
/* SearchDropDown */
/*  */

/* ------------------------------- */
/* Home */
/* ------------------------------- */

.swapSearchBarContainer {
  width: fit-content;
  max-width: 1000px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}

.swapDropdown {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--lightGreen);
  font-size: 2rem;
  width: fit-content;
}

.swapPageSearchContainer {
  height: 50px;
  width: 170px;
  border: none;
  outline: none;
}

.swapPageSearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  width: fit-content;

  color: var(--lightGreen);
  /* text-decoration: underline; */
  font-size: 2rem;
}

.swapPageSearchInput::placeholder {
  color: var(--lightGreen) !important;
}

.swapPageDropdownListGroup {
  padding-left: 0px;
  height: fit-content;
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.swapPageSearchtButton {
  width: fit-content;
  height: fit-content;
  text-align: left;
  background-color: transparent;
  color: var(--lightGreen);
  border-radius: 5px;
  border: none;
  font-family: muli, sans-serif;
  font-size: 2rem;
}

.swapPageDropdown {
  outline: none;
  border-radius: none;
  border: none;
  flex: 2;
  margin-right: 20px;
  padding-left: 30px;
  height: 60px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--text);
  background-color: var(--lightestTaupe);
}

.swapSearchBar {
  flex: 6;
  height: 50px;
  margin-right: 20px;
}
.form-control {
  height: 100%;
  outline: none;
  border: none;
}

/* ------------------------------- */
/* Add */
/* ------------------------------- */

.addPageSearchContainer {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 5%;
}

/* need to get this to somethign good */
.addPageSearchListGroup {
  padding-left: 0px;
  height: fit-content;
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  /* position: absolute; */
}

.addPageSearchtButton {
  width: 300px;
  height: 40px;
  text-align: left;
  padding-left: 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-family: muli, sans-serif;
}

.addPageSearchInput {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.addPageSearchInput:active .addPageSearchInput:focus {
  border: none;
  outline: none;
}

.searchResultButton:hover {
  background-color: var(--lightestTaupe);
}

/*  */
/* /  Ingredients / recipe list format */
/*  */
.alternativeList {
  min-height: fit-content;
  min-width: fit-content;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 20px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/* /Card Components -------------------------------------------------------*/
/*  */

/*  */
/* /Preview Card*/
/*  */
.previewCard {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1.5px);
  height: fit-content;
  min-width: 200px;
  width: fit-content;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  outline: none;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  height: 300px;
  width: auto;
  background-color: var(--lightGreen);
  /* background-color: #f88379; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.previewText {
  padding-left: 20px;
  padding-right: 20px;
}

/*  */
/* /Profile Card */
/*  */
.profileCard {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1.5px);
  min-height: 30vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
  outline: none;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandProfileCard {
  background-color: var(--lightGreen);
  backdrop-filter: blur(1.5px);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 30vh;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestedBrands {
  /* background-color: red; */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
}

/*  */
/* /Sequence Card */
/*  */
.sequenceCard {
  min-height: fit-content;
  min-width: fit-content;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sequenceCardRows {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 10px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  height: fit-content;
  margin-top: 10px;
  border-radius: 5px;
  text-align: justify;
}

/*  */
/* /Profile Card */
/*  */
.profileContents {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.profileImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 1;
  height: 100%;
  width: 100%;
}

.profileImage {
  height: 300px;
  width: auto;
  border-radius: 5px;
  background-color: var(--lightGreen);
  backdrop-filter: blur(1.5px);
  margin-bottom: 20px;
}
.profileText {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profileBy {
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
  text-align: left;
  width: 100%;
  height: 22px;
}

.profileAuthor {
  color: var(--lightTaupe);
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.profileDescription {
  width: 100%;
  color: var(--text);
}

/* Button */
.customButton {
  background: var(--lightestTaupe);
  color: var(--darkGreen);
  border: none;
  border-radius: 5px;
  position: relative;
  height: 40px;
  font-size: 1.2em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.customButton:hover {
  background: #fff;
  color: var(--darkGreen);
  border-radius: 20px;
}
.customButton:before,
.customButton:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--darkGreen);
  transition: 400ms ease all;
}
.customButton:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}
.customButton:hover:before,
.customButton:hover:after {
  width: 100%;
  transition: 800ms ease all;
  border-radius: 20px;
}

/*  */
/* /   collapsible component  */
/*  */
.collapsible {
  background-color: transparent;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.collapsibleContainer {
  /* box-shadow: 1px 1px 15px 8px #e4e3e394; */
  width: 100%;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 25px;
}

.collapsible .collapsibleBannerButton {
  background-color: white;
  border: unset;
  cursor: pointer;
  font: unset;
  /* border-top-right-radius: 25px;
  border-top-left-radius: 25px; */
  border-radius: 25px;
  padding: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bannerLabel {
  flex: 20;
  color: var(--darkGreen);
  font-size: 1.5rem;
  font-weight: bold;
}
.bannerIcon {
  flex: 1;
}

.collapsible .content {
  background-color: transparent;
}

.collapsible .contentParent {
  overflow: auto;
  transition: height ease 0.3s;
}

.fa-arrow-circle-up {
  color: pink;
}

.fa-arrow-circle-down {
  color: pink;
}

/*  */
/* / Form General */
/*  */

.formContainer {
  padding: 20px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  background-color: var(--lightestTaupe);
  border-radius: 25px;
  width: 80%;
  /* min-height: 50vh; */
  height: fit-content;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.textInput {
  height: 50px;
  width: 300px;
  border: solid 1px var(--lightGreen);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 5%;
}

.textInputArea {
  height: 100px;
  width: 500px;
  border: solid 1px var(--lightGreen);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 5%;
}

.textInputURL {
  height: 50px;
  width: 500px;
  border: solid 1px var(--lightGreen);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 5%;
}

.uploadImage {
  margin-left: auto;
  margin-right: 5%;
}

.formLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.formQuestion {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.questionAnswer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #f88379; */
}

.toolTipForm {
  width: 10%;
}

/*  */
/* / Ingredients */
/*  */

.checkBox {
  margin-right: 10px;
  width: 15px;
  height: 50px;
}

.formHeader {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formHeaderButtons {
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */
/* / Tool Tip */
/*  */

.toolTip {
  width: 10px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.toolButton {
  height: fit-content;
  width: fit-content;
  border: none;
  background-color: transparent;
}

li {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

.toolTip .toolExpanded {
  /* height: fit-content; */
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
  position: absolute;
  background-color: var(--lightestTaupe);
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 1;
  margin-right: 20px;
  text-align: left;
}

.toolText {
  color: var(--text);
  font-size: 1rem;
}

.fa-question-circle {
  color: var(--lightTaupe);
  /* height: auto; */
  /* width: 200px; */
}

.toolContent {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* form button */

.buttonContainer {
  width: 100%;
}

.formSubmitButton {
  margin-top: 20px;
  background-color: var(--lightGreen);
  color: white;
  width: 200px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 1px 1px 15px 8px #e4e3e394;
  border: none;
}

/* Image Upload */

.uploadPreviewImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 25px;
  /* background-color: #f88379; */
}

.uploadPreviewImage {
  display: block;
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
  border-radius: 25px;
}
